<h1> Contact me </h1>
<ul>
  <li><strong>Email:</strong> dave@<span style="font-size:0">no-spam</span>caffeinateddave.com</li>
  <li><strong>Github:</strong> <a href="https://github.com/caffeinateddave">https://github.com/caffeinateddave</a>
  <li><strong>Twitter:</strong> <a href="https://twitter.com/caffeinateddave">https://twitter.com/caffeinateddave</a>
</ul>
